streamlit
pandas
openpyxl
vaderSentiment
spacy==3.7.2
scikit-learn
matplotlib
seaborn
email-validator
python-dotenv
requests
watchdog
xlrd
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
